{% extends 'pages/base.html' %}
{% load static %}

{% block scripts %}
    <link href="{% static 'pages/cropper/cropper.css' %}" rel="stylesheet">
    <script src="{% static "pages/cropper/cropper.js" %}"></script>
    <script src="{% static 'pages/cropper/jquery-cropper.js' %}"></script>
    <script>
        // Cropping adapted from https://simpleisbetterthancomplex.com/tutorial/2017/03/02/how-to-crop-images-in-a-django-application.html
        $(function () {

            var $uploaded_image = $("#uploaded_image");
            var cropBoxData;
            var canvasData;
            $("#id_image").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#uploaded_image").attr("src", e.target.result);
                        $("#modalCrop").modal("show");
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });

            /* SCRIPTS TO HANDLE THE CROPPER BOX */
            var $uploaded_image = $("#uploaded_image");
            var cropBoxData;
            var canvasData;
            $("#modalCrop").on("shown.bs.modal", function () {
                $uploaded_image.cropper({
                    viewMode: 1,
                    aspectRatio: 1,
                    minCropBoxWidth: 10,
                    ready: function () {
                        $uploaded_image.cropper("setCanvasData", canvasData);
                        $uploaded_image.cropper("setCropBoxData", cropBoxData);
                    }
                });
            }).on("hidden.bs.modal", function () {
            cropBoxData = $uploaded_image.cropper("getCropBoxData");
            canvasData = $uploaded_image.cropper("getCanvasData");
            $image.cropper("destroy");
            });

            // Enable zoom in button
            $(".js-zoom-in").click(function () {
                $uploaded_image.cropper("zoom", 0.1);
            });

            // Enable zoom out button
            $(".js-zoom-out").click(function () {
                $uploaded_image.cropper("zoom", -0.1);
            });

            // Collect data and post to server
            $(".js-crop-and-upload").click(function () {
                var cropData = $uploaded_image.cropper("getData");
                $("#id_imageX").val(cropData["x"]);
                $("#id_imageY").val(cropData["y"]);
                $("#id_imageHeight").val(cropData["height"]);
                $("#id_imageWidth").val(cropData["width"]);
                $("#photo_form").submit();
                //$("#data_form").submit();
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="container">
    {{ photo_form.media }}
    <form method="POST" enctype='multipart/form-data' id="photo_form" class="message-form m-4">{% csrf_token %}
        <div class="row m-2">
            <div class="col-md-4">
                {% if photo_form.instance.image %}
                    <img class="profile-photo" src="/media/{{ photo_form.instance.image }}"></img>
                {% else %}
                    <img src="/media/profile_photos/default.png" class="profile-photo" alt="profile photo">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h3>Profile Photo</h3>
                <p>Say cheese!</p>
                {{ photo_form.image }}
                {{ photo_form.imageX }}
                {{ photo_form.imageY }}
                {{ photo_form.imageWidth }}
                {{ photo_form.imageHeight }}
                {% for error in photo_form.image.errors %}
                    <strong>{{ error|escape }}</strong>
                {% endfor %}
            </div>
        </div>
    </form>
    <hr/>
    <div class="px-4">
        <h3>Description</h3>
        <p>Tell us a bit about yourself</p>
    </div>
    <form method="POST" enctype='multipart/form-data' id="data_form" class="message-form m-4">{% csrf_token %}
        {{ data_form.media }}
        <div class="row m-2">
            {{ data_form.description }}
            {% for error in data_form.description.errors %}
                <strong>{{ error|escape }}</strong>
            {% endfor %}
        </div>
        <button type="submit" class="save btn btn-primary m-2">Save</button>
    </form>
</div>

<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="uploaded_image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}