{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
{{ form.media }}
<div class="container">
    <form method="POST" enctype='multipart/form-data' class="message-form">{% csrf_token %}
        <h3>Title</h3>
        <div class="row mb-3 align-items-center">
            <div class="col-auto">
                {{ form.title }}
            </div>
            <div class="col-auto">
                <div id="titleHelp" class="form-text">Make it a good one!</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <div class="row mb-3">
                    <h3>Tagline</h3>
                    {{ form.tagline }}
                </div>
                <div class="row mb-3">
                    <h3>Description</h3>
                    {{ form.description }}
                </div>
            </div>
            <div class="col-md-4">
                <h3>Repo</h3>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        {{ form.repo }}
                    </div>
                    <div class="col-auto">
                        <div id="repoHelp" class="form-text">External repository for project files</div>
                    </div>
                </div>
                <h3>Category</h3>
                <div class="row mb-3 align-items-center">
                    <div class="col-auto">
                        {{ form.category }}
                    </div>
                    <div class="col-auto">
                        <div id="categoryHelp" class="form-text">Choose the category that best describes your work!</div>
                    </div>
                </div>
                <h3>Licence</h3>
                <div class="row">
                    <div class="col-auto">
                        {{ form.licence }}
                    </div>
                </div>
                <div class="row">
                    <div id="licenceHelp" class="form-text">Choose an appropriate licence. Make sure to fully read and unserstand before selecting!</div>
                    <h5>Preview:</h5>
                    <div id="licenceText"></div>
                </div>
            </div>
        </div>
        <h2>Images:</h2> 
            {{ imageFormset.non_form_errors }}
            {{ imageFormset.management_form }}
            {% for form in imageFormset %}
            <div class="row mb-3 image-formset-row">
                {{ form.id }}
                <div class="col-auto">
                    {{ form.image }}
                </div>
                <div class="col-auto">
                    Alt text: {{ form.alt }}
                </div>
            </div>
            {% endfor %}
        <h2>Files:</h2>
            {{ fileFormset.non_form_errors }}
            {{ fileFormset.management_form }}
            {% for form in fileFormset %}
            <div class="file-formset-row">
                {{ form.id }}
                <div>{{ form.file }}</div>
                <div class="ml-4">Name: {{ form.name }}</div>
            </div>
            {% endfor %}
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'pages/formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.image-formset-row').formset({
        addText: '<i class="bi-file-plus" style="font-size: 2rem;"></i>',
        deleteText: '<i class="bi-trash-fill" style="font-size: 2rem;"></i>',
        prefix: 'image_set'
    });
</script>
<script type="text/javascript">
    $('.file-formset-row').formset({
        addText: '<i class="bi-file-plus" style="font-size: 2rem;"></i>',
        deleteText: '<i class="bi-trash-fill" style="font-size: 2rem;"></i>',
        prefix: 'file_set'
    });
</script>

<script>
    function generateLicenceData() {
        licences = {};
        {% for licence in licences %}
            licences["{{ licence }}"] = {
                "url": "{{ licence.url }}",
                "html": '{{ licence.html|safe }}',
            }
        {% endfor %}
    }

    function updateLicenceText() {
        licenceSelector = document.getElementById('id_licence');
        licenceText = document.getElementById('licenceText');
        if(licenceSelector.value){
            selectedLicence = licenceSelector[licenceSelector.value].text;
            licenceText.innerHTML = licences[selectedLicence].html;
        }
    }

    $("#id_licence").change(function() {
        updateLicenceText();
    });

    $(window).load(function() {
        generateLicenceData();
        updateLicenceText();
      });
</script>

{% endblock %}