{% extends 'pages/base.html' %}

{% block content %}
    <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container text-center">
            <h1>Welcome to the OJ family, {{ user.username }}!</h1>
            <h3>Now what?</h3>
            <p>First up, verify your email address! We just sent you a confirmation email. Please click the link so you can start using your account.</p>
            <p>Next, either <a href="/user/{{ user.username }}/edit">complete your profile</a> so that other users can see how cool you are, or go <a href="/jewelry">download some jewelry!<a></p>
        </div>
    </div>
{% endblock %}