{% extends 'pages/base.html' %}

{% block scripts %}
<script>
  function formErrorBox(errors, inputTarget, errorSource) {
    if (errors) {
      jQuery(function($) {
        $('#'+inputTarget).popover({content: $('#'+errorSource).html(), container: 'body', placement: 'right', html: true}).popover('show');
      });
    }
  }
</script>
{% endblock %}

{% block content %}
    <div class="jumbotron vertical-center">
        <div class="col-12">

        </div>
    </div>

    <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container text-center">
            <div class="col-auto formBox">
                <h1 class="p-3">Who's there?</h1>
                <div class='page-content'>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group m-2">
                            {{ form.username }}
                            <div style="display: none;" id='usernameErrors'>
                              {{ form.username.errors }}
                            </div>
                            <script>formErrorBox('{{ form.username.errors }}', 'usernameInput', 'usernameErrors');</script>
                        </div>

                        <div class="form-group m-2">
                            {{ form.password }}
                            <div style="display: none;" id='passwordErrors'>
                              {{ form.password.errors }}
                            </div>
                            <script>formErrorBox('{{ form.password.errors }}', 'passwordInput', 'passwordErrors');</script>
                        </div>
                        <button type="submit" class="btn btn-warning">Let me in!</button>
                    </form>
                </div>
            </div>
        </div>
      </div>


{% endblock %}