{% extends 'pages/base.html' %}

{% block scripts %}
<script>
  function formErrorBox(errors, inputTarget, errorSource) {
    if (errors) {
      jQuery(function($) {
        $('#'+inputTarget).popover({content: $('#'+errorSource).html(), container: 'body', placement: 'right', html: true}).popover('show');
      });
    }
  }
</script>
{% endblock %}

{% block content %}
    <div class="jumbotron vertical-center">
        <div class="col-12">

        </div>
    </div>

    <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container text-center">
            <div class="col-auto formBox">
                <h1 class="p-3">Reset Password</h1>
                <div class='page-content'>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group m-2">
                            {{ form.email }}
                            <div style="display: none;" id='emailErrors'>
                              {{ form.email.errors }}
                            </div>
                            <script>formErrorBox('{{ form.email.errors }}', 'emailInput', 'emailErrors');</script>
                        </div>
                        <button type="submit" class="btn btn-warning">Reset</button>
                    </form>
                </div>
            </div>
        </div>
      </div>


{% endblock %}