{% extends "wiki/base_site.html" %}
{% load static %}
{% load sekizai_tags i18n wiki_tags static %}

{% block wiki_site_title %} - Wiki{% endblock %}


{% block wiki_navbar %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">


<link rel="shortcut icon" type="image/png" href="{% static 'pages/favicon.ico' %}"/>

{% if article %}
    <meta property="og:title" content="OpenJewelry Wiki: {{ article }}" />
    <meta name="twitter:title" content="OpenJewelry Wiki: {{ article }}">
{% else %}
    <meta property="og:title" content="OpenJewelry Wiki" />
    <meta name="twitter:title" content="OpenJewelry Wiki">
{% endif %}

<meta property="og:description" content="The Internet's home for wearable art of all kinds" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://{{ request.get_host }}{% static 'pages/osj-logo-full.png' %}" />

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ request.get_host }}">
<meta property="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}">
<meta name="twitter:description" content="The Internet's home for wearable art of all kinds">
<meta name="twitter:image" content="https://{{ request.get_host }}{% static 'pages/osj-logo-full.png' %}">

<script
src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
crossorigin="anonymous">
</script>

<script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
<script>
    kofiWidgetOverlay.draw('{{ kofi_username }}', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support us',
    'floating-chat.donateButton.background-color': '#470077',
    'floating-chat.donateButton.text-color': '#fff'
    });
</script>

<script>
    $(document).ready(function() {
        if ($.trim($(".wiki-article").html()) == '') {
            $(".wiki-article").html(`
            <div class="alert alert-primary" role="alert">
                This page is empty, but you can help with that! If you'd like to start it, click the edit button above.
            </div>
            `);
        }
    });
</script>

<nav class="navbar navbar-expand-lg bg-orange text-purple">
<div class="container">
  {% block wiki_header_branding %}
        <a class="navbar-brand" href="{% url 'wiki:root' %}"><img src="{% static 'pages/osj-logo-notext.png' %}" height="30"> OpenJewelry Wiki</a>
  {% endblock %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
  {% block wiki_header_navlinks %}
  <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'wiki:root' %}">Wiki Root</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">OpenJewelry Home</a>
      </li>
  </ul>
  {% endblock %}
    {% if user.is_authenticated %}
            <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
                <!--<span class="badge badge-light notification-cnt">0</span>-->
                {{ user }}
                <b class="caret"></b>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if "ACCOUNT_HANDLING"|wiki_settings %}
                  <a href="{% url 'wiki:profile_update' %}" class="dropdown-item">
                    <i class="fa fa-cog"></i>
                    {% trans "Account Settings" %}
                  </a>
                {% endif %}
                  <a href="{{ "LOGOUT_URL"|wiki_settings }}" class="dropdown-item">
                    <i class="fa fa-power-off"></i>
                    {% trans "Log out" %}
                  </a>
                {% if user.is_superuser %}
                  <a href="{% url 'wiki:deleted_list' %}" class="dropdown-item">
                    <i class="fa fa-trash"></i>
                    {% trans "Deleted articles" %}
                  </a>
                {% endif %}
                {% if "wiki.plugins.notifications"|plugin_enabled %}
                  {% include "wiki/plugins/notifications/menubaritem.html" %}
                {% endif %}
                {% if "wiki.plugins.globalhistory"|plugin_enabled %}
                  {% include "wiki/plugins/globalhistory/menubaritem.html" %}
                {% endif %}
              </div>
            </li>
            </ul>
    {% else %}
    <ul class="navbar-nav">
      <li class="nav-item">
      <a class="nav-link" href="{% login_url as wiki_login_url %}{{ wiki_login_url }}">{% trans "Log in" %}</a>
      </li>
      {% if "ACCOUNT_HANDLING"|wiki_settings and "ACCOUNT_SIGNUP_ALLOWED"|wiki_settings %}
      <li class="nav-item">
      <a class="nav-link" href="{% url 'wiki:signup' %}">{% trans "Sign up" %}</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}

    <form class="form-inline" method="GET" action="{% spaceless %}
          {% if article or urlpath %}
              {% url 'wiki:search' article_id=article.id path=urlpath.path %}
            {% else %}
              {% url 'wiki:search' %}
            {% endif %}
          {% endspaceless %}"
    >
    <div class="input-group">
      <input type="search" class="form-control" aria-label="Search" name="q" placeholder="{% spaceless %}
              {% if article or urlpath %}
                 {% trans "Search from current article..." %}
              {% else %}
                {% trans "Search whole wiki..." %}
              {% endif %}
            {% endspaceless %}" />
      <div class="input-group-append">
        <button class="btn btn-outline-light my-sm-0" type="submit"><span class="fa fa-search"></span></button>
      </div>
      </div>
    </form>
  </div>

</div>
</nav>
{% endblock %}

{% block wiki_footer_logo %}
<div>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>&nbsp The contents of this Wiki are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>
<p>Make sure to read our <a href="/legal/privacypolicy">Privacy Policy</a>, <a href="/legal/termsofservice">Terms of Service</a>, and <a href="/legal/userguidelines">User Guidelines</a></p>
<a href="https://github.com/django-wiki/django-wiki" class="float-right"><img src="{% static "wiki/img/github_icon.png" %}" /></a>
{% endblock %}

