{% extends 'pages/base.html' %}
    {% block content %}
        <div class="jumbotron vertical-center">
            <div class="col-12">
                
            </div>
        </div>

        <div class="jumbotron d-flex align-items-center min-vh-100">
            <div class="container text-center">
                <h1>Articles</h1>
                <div class='page-content'>
                    {% for article in articles %}
                        <a href="/article/{{ article.id }}">{{ article.title }}</a>
                    {% endfor %}
                </div>
            </div>
          </div>

    {% endblock %}