.nav-link {
    color: #FFFFFF;
}

.grid-sizer,
.grid-item {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.grid-image {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.jewelry-box {
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    margin: 20px;
    padding-bottom: 10px;
}

.jewelry-box-title {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.jewelry-box-title:hover {
    color: #68358a;
}

.splide__slide img {
    width: 100%;
}

main-slider {
    width: 100%;
    max-height: 400px;
}

.jewelry-sidebar{
    margin-top: 70px;
    border-left: 2px solid #68358a;
    height: 90%;
    padding-left: 24px;
}

.jewelry-description {
    margin-top: 40px;
}