.nav-link.main {
    color: #FFFFFF;
}

.grid-sizer,
.grid-item {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.grid-image {
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.jewelry-box {
    border: 1px solid #D3D3D3;
    background: #FFFFFF;
    margin: 20px;
    padding-bottom: 10px;
}

.jewelry-box-title {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 5px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.jewelry-box-title:hover {
    color: #68358a;
}

.splide__slide img {
    width: 100%;
}

main-slider {
    width: 100%;
    max-height: 400px;
}

.jewelry-sidebar{
    margin-top: 0px;
    border-left: 2px solid #470077;
    height: 90%;
    padding-left: 24px;
}

.jewelry-details {
    margin-top: 40px;
}

.licence-block {
    padding: 12px;
    border: 2px solid #404040;
    border-radius: 10px;
    margin-top: 20px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}

.bg-purple {
    background-color: #470077;
}

.edit-button-col {
    margin-right: 0px;
    margin-left: auto;
}

.jewelry-header-subtitle {
    margin: 0px;
}

.sidebar-row {
    margin-bottom: 0px;
}

p.filename {
    font-size: 12px;
    font-style: italic;
    color: #404040;
}

.likebtn {
    font-size: 24px;
    color: #db0000;
}