{% extends 'pages/base.html' %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.grid').masonry({
                    // options
                    itemSelector: '.grid-item',
                    percentPosition: true
                });

                $('[name="{{ category }}"]').addClass("sidebar-selected");
            });
        </script>
    {% endblock %}

    {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="p-5 bg-secondary text-white">
                    <h1>Welcome to Open Jewelry!</h1>
                    <p>The internet's home for open-source wearable art of all kinds</p>
                </div>
            </div>
            <div class="row">
                <div class="container">
                    <h2>Featured Pieces</h2>
                    
                    {% include "pages/jewelry-grid-block.html" %}

                </div>
            </div>
        </div>
    {% endblock %}
