{% extends 'pages/base.html' %}

{% load tz %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.grid').masonry({
                    // options
                    itemSelector: '.grid-item',
                    percentPosition: true
                  });

                $('[name="{{ category }}"]').addClass("sidebar-selected");
            });
        </script>
    {% endblock %}


    {% block content %}
        <div class="jumbotron vertical-center">
            <div class="col-12">
                
            </div>
        </div>

        <div class="jumbotron d-flex min-vh-100">
            <div class="container">
                <div class='page-content'>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h1>{{ profile.user.username }}</h1>
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <h6 class="jewelry-header-subtitle">{{ profile.user.first_name }} {{ profile.user.last_name }}</h6>
                                <h6 class="jewelry-header-subtitle">
                                    Member Since 
                                    {% localtime on %}
                                    {{ profile.user.date_joined }}
                                    {% endlocaltime %}
                                </h6>
                            </div>
                        </div>
                        <div class="col-auto edit-button-col">
                            {% if editable %}
                                <a href="/user/{{ profile.slug }}/edit" style="font-size: 2rem;" class="bi-pencil-square"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% if profile.image %}
                                <img src="{{ profile.image.url }}" class="profile-photo" alt="profile photo">
                            {% else %}
                                <img src="/media/profile_photos/default.png" class="profile-photo" alt="profile photo">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            {{ profile.description|safe }}
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            {% if editable %}
                                <h3>Liked Pieces</h3>
                                <div class="likeBox">
                                    {% for piece in liked %}
                                        <p><a href="/jewelry/{{ piece.id }}">{{ piece }}</a> by {{ piece.creator }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Jewelry created by {{ profile.user.username }}:</h3>
                            <div class="jewelry-grid">
                                <div class="grid">
                                    <div class=".grid-sizer"></div>
                                    {% for piece in pieces %}
                                        <div class="grid-item">
                                            <div class="jewelry-box">
                                                {% if piece.featuredImage.image %}
                                                    <a href="/jewelry/{{ piece.piece.id }}"><image src="{{ piece.featuredImage.image.url }}" href="/jewelry/{{ piece.piece.id }}" class="grid-image"></a>
                                                {% else %}
                                                    <a href="/jewelry/{{ piece.piece.id }}"><image src="/media/profile_photos/default.png" class="grid-image"></a>
                                                {% endif %}
                                                <a class="jewelry-box-title" href="/jewelry/{{ piece.piece.id }}">{{ piece.piece.title }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>

    {% endblock %}