{% extends 'pages/base.html' %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    {% endblock %}


    {% block content %}
        <div class="jumbotron vertical-center">
            <div class="col-12">
                
            </div>
        </div>

        <div class="jumbotron d-flex min-vh-100">
            <div class="container">
                <div class='page-content'>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <h1>{{ profile.user.username }}</h1>
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                <h6 class="jewelry-header-subtitle">{{ profile.user.first_name }} {{ profile.user.last_name }}</h6>
                                <h6 class="jewelry-header-subtitle">Member Since {{ profile.user.date_joined }}</h6>
                            </div>
                        </div>
                        <div class="col-auto edit-button-col">
                            {% if editable %}
                                <a href="/user/{{ profile.slug }}/edit" style="font-size: 2rem;" class="bi-pencil-square"></a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {% if profile.image %}
                                <img src="{{ profile.image.url }}" class="profile-photo" alt="profile photo">
                            {% else %}
                                <img src="/media/profile_photos/default.png" class="profile-photo" alt="profile photo">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            {{ profile.description|safe }}
                        </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Jewelry created by {{ profile.user.username }}:</h3>
                            {% include "pages/jewelry-grid-block.html" with pieces=pieces %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            {% if editable %}
                            <hr/>
                                <h3>My Likes:</h3>
                                {% include "pages/jewelry-grid-block.html" with pieces=liked %}
                            {% endif %}
                        </div>

                    </div>
                    <hr/>

                </div>
            </div>
          </div>

    {% endblock %}